
@import url('https://fonts.googleapis.com/css2?family=Nova+Script&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');

@import url('./css/variables.css');

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body{
    background:var(--primary);
    color: var(--pure);
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}